.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/
/test/e2e/reports/
selenium-debug.log
/quchebang/package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

/quchebang/package-lock.json
/quchebang/.git/
/quchebang/node_modules/
/quchebang/unpackage/


package-lock.json
/.git/
node_modules/
unpackage/